 /* globals */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Bree Serif', serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  /* nav bar */


  .circles {
      font-size: 20px;
      margin-left: 100px;
      margin-top: 10px;
      
      

  }
  .links {
      margin: 10px 100px;
   
    
  }

  p {
      margin: 30px 100px;
      color: lightgrey;
      opacity: 0.5;
  }

  ul {
      color: white;
      font-size: 15px;
      
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
    color: lightslategray;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    padding: 20px 10px;
    list-style-type: none;
  }
  
  .link {
    padding: 20px 20px;
    font-size: 1rem;
  }

  nav li a {
    margin-top: 6px;
    display: inline-block;
  }

  /*header footer*/

  header, footer {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
  }
  
  header {
    top: 0;
    background-color: deepskyblue;
  }
  
  footer {
    bottom: 0;
    background-color: #383a42;
    border-top: 1px solid  #383a42;
  }
  
/* logo */

  #logo {
      display: flex;
      flex-direction: row;
      background-color: deepskyblue;
      position: relative;
      z-index: 1;
      padding: 10% 10px;
      margin-top: 75px;
      height: 100vh;
      width: 100vw;
  }
      
.logo-left {
  flex-direction: column;
  margin-top: 300px;
  margin-left: 30px;
  height: 100vh;
}

.logo-right {
  flex-direction: column;
  height: 100vh;

}
#phone-img {
  height: 880px;
  width: auto;
}

  #logo::after {
      background-color: deepskyblue;
      content: '';
      display: block;
      height: 50%;
      left:0;
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 0;
      transform: skewY(-5deg);
      transform-origin: 100%;
      -webkit-backface-visibility: hidden;
  }

  .heading {
      color: white;
      font-size: 3rem;
      margin-top: 10px;
      margin-left: 150px;
  }

  .faded {
      color:  #006699;
      opacity: 0.5;
      margin-left: 150px;
      margin-right: 0;
      font-size: 1.4rem;
  }

  .button {
    font-family: inherit;
    padding: 0 16px;
    font-size: 1.2rem;
    color: white;
    height: 70px;
    width: 290px;
    background-color: #006699;
    border: 1px solid #006699;
    border-radius: 5px;
  }

  .up {
    margin: 20px 150px;

  }

  /* steps */

  .steps {
    display: grid;
    width: 100vw;
    height: 330px;
    margin-top: 150px;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-bottom: #006699 solid 1px;
    border-width: 1px;
    
  }
  .step {
      justify-content: center;
      width: 80%;
      font-size: 2rem;
      color: deepskyblue;
      padding: 10%;
      border-left: #006699 solid;
  }

.title {
  color: gray;
}
.first {
    border-left: none;
    border-right: none;
    margin-left: 70px;
   
}
.second {
  border-width: 1px;
}
.third {
  border-right: none;
  border-width: 1px;
}

/* workout features */

.features {
  padding: 90px;
  border-width: 1px;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #006699;
  font-size: 3rem;
  font-weight: 400;
  color:deepskyblue;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 200px;
  font-size: 3rem;
  margin: 0;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 50px;
  margin-left: 50px;

}
.bold {
  font-weight: bold;
  margin-left: 15px;
}

.dumbbell {
  color: lightgreen;
  border:lightgreen solid 5px;
}

.trophy {
  color: #ff4000;
  border: #ff4000 solid 5px;
}

.utensils {
  color: #9966ff;
  border: #9966ff solid 5px;
}

.container {
  width: 100%;
  height: 280px;
  border-bottom: #006699 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(227, 242, 252);
}

.container1 {
  font-size: 2.5rem;
  color: lightgreen;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-right: 320px;
}
.container2 {
  font-size: 1.5rem;
  width: 20%;
  color: gray;
  display: flex;
  justify-content: center;
  margin-right: 363px;
}


/* trainers images */

.workout-features {
  margin: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(227, 242, 252);
}

.images {
  margin: 0;
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
}
.white {
  background-color: white;
}

.image {
  height: 80%;
}

/* statistics */

.container-bottom {
  background-color: deepskyblue;
  width: 100vw;
  height: 500px;
}

.statistics {
  margin: 0;
  padding: 40px;
  width: 100vw;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;

}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6rem;

}

.text {
  color:  #006699;
  opacity: 0.5;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}